src/main/mule/ci-cd-template.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cbe8cfae-7caa-4246-abd8-ca6fe812a4c8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="ci-cd-templateFlow" doc:id="8b3986f5-ee27-4292-9613-d499c18cb811" >
		<http:listener doc:name="Listener" doc:id="ae8810c6-bd02-4e34-90fa-a9e229fcf96a" config-ref="HTTP_Listener_config" path="/*"/>
		<set-payload value='#[output application/json
---
{
	foo: "bar"
}]' doc:name="Set Payload X" doc:id="40f0f77e-f8f6-4d19-af54-b12c12be6e5b" />
	</flow>
</mule>
